<div>
  <div>
    <h1>Productos</h1>
  </div>
  <div id="productList"></div>
  <div>
    <table width="50%">
      <tr>
        <td>id</td>
        <td>title</td>
        <td>description</td>
        <td>code</td>
        <td>price</td>
        <td>status</td>
        <td>stock</td>
        <td>category</td>
        <td>thumbnails</td>
      </tr>
      {{#each products}}
        <tr>
          <td headers="id">{{id}}</td>
          <td headers="title">{{title}}</td>
          <td headers="description">{{description}}</td>
          <td headers="code">{{code}}</td>
          <td headers="price">{{price}}</td>
          <td headers="status">{{status}}</td>
          <td headers="stock">{{stock}}</td>
          <td headers="category">{{category}}</td>
          <td headers="thumbnails">{{thumbnails}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>